<nav class="lo-full library-breadcrumb">
  <ol class="breadcrumb">
    <li><a href="http://www2.hiof.no/biblioteket-ny#/portal">Biblioteket</a></li>
    {{#if meta}}

      <li><a href="#/{{urlize meta.title}}/p/{{meta.id}}">{{meta.title}}</a></li>

    {{/if}}
  </ol>
</nav>
