<header class="lo-full">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://hiof.no/biblioteket">Biblioteket</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select language <span class="caret"></span></a>
             <ul class="dropdown-menu">
              <li><a href="http://hiof.no/biblioteket">Norsk</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">English</a></li>
              <li><a href="http://www2.hiof.no/index.php?ID=19670">Français</a></li>
              <li><a href="http://www2.hiof.no/index.php?ID=20914">Español</a></li>
              <li><a href="http://www.hiof.no/nor/biblioteket/om-biblioteket/deutsch">Deutsch</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <!--<li><a role="button" class="btn btn-default" href="https://www.facebook.com/bibhiof">Twitter</a></li>-->
          <li>
            <a  href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sosiale medier<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a  href="https://www.facebook.com/bibhiof">Facebook - HiØ, biblioteket</a></li>
              <li role="separator" class="divider"></li>
              <li><a role="button" href="http://instagram.com/hiofbibfred">Instagram - HiØ, biblioteket Fredrikstad</a></li>
              <li><a role="button" href="http://instagram.com/hiofbibhalden">Instagram - HiØ, biblioteket Halden</a></li>
              <li role="separator" class="divider"></li>
              <li><a role="button" href="https://www.youtube.com/channel/UCfDe1CghuDZt0J7hxMvjrJQ">Youtube - HiØ, biblioteket</a></li>
            </ul>
          </li>
      </ul>
    </div>
  </nav>
</header>
