<aside class="lo-auron-1-3 library-basic-info float-right">
<section>
  {{!-- Åpningstider --}}
  <p>Biblioteket er åpent hele sommeren <br><strong>8:00 - 15:00 mandag - fredag</strong></p></section>
</aside>
