<section class="lo-full padding-off library-news">
  {{#ifCond settings.lang 'nb'}}
    <header class="lo-full">
      <h1 class="float-left">Aktuelt fra biblioteket</h1>
      {{!<a class="btn btn-link arrow arrow-right float-right" href="#/aktuelt">Flere artikler</a>--}}
    </header>
    <div class="outlet"></div>
  {{/ifCond}}
</section>
