<section class="lo-half library-search">
  {{!-- Søk --}}
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#oria" aria-controls="oria" role="tab" data-toggle="tab">Mitt bibliotek</a></li>
    <li role="presentation"><a href="#bibsys" aria-controls="bibsys" role="tab" data-toggle="tab">Alle bibliotek</a></li>
    <li role="presentation"><a href="#googlescholar" aria-controls="googlescholar" role="tab" data-toggle="tab">Google Scholar</a></li>

  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="oria">

      <form name='searchForm' role='search' method='post' action='http://www.oria.no/' enctype='application/x-www-form-urlencoded; charset=utf-8' id='simple-hiof' target='_self' >
        <input name='institution' value='HIO' type='hidden'>
        <input name='vid' value='HIO' type='hidden'>
        <input name='search_scope' value='default_scope' type='hidden'>
        <input name='lang' value='nor' type='hidden'>
        <input type='hidden' value='true' name='afterPDS'>
        <input type='hidden' name='check' value='checked'>
        <label class="sr-only" for="query-hiof">Søk i bibsys</label>
        <div class="input-group">
          <input class="form-control" placeholder="Søk i Oria etter bøker, artikler, tidsskrifter m.m." type='text' id='query-hiof' value='' name='query'  />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">Søk</button>
          </span>
        </div>
      </form>
      <p><a class="btn btn-primary library-search-advanced-toggle" target="_blank" href="http://bibsys-almaprimo.hosted.exlibrisgroup.com/primo_library/libweb/action/search.do?mode=Advanced&ct=AdvancedSearch?vid=HIO&institution=HIO&institution=HIO">Gå til avansert søk</a></p>
    </div>

    <div role="tabpanel" class="tab-pane" id="bibsys">
      <form name='searchForm' role='search' method='post' action='http://www.oria.no/' enctype='application/x-www-form-urlencoded; charset=utf-8' id='simple-all' target='_blank' >
        <input name='institution' value='HIO' type='hidden'>
        <input name='vid' value='HIO' type='hidden'>
        <input name='search_scope' value='blended_scope' type='hidden'>
        <input name='lang' value='nor' type='hidden'>
        <input type='hidden' value='true' name='afterPDS'>
        <input type='hidden' name='check' value='checked'>
        <label class="sr-only" for="query-all">Søk i bibsys alle bibliotek</label>
        <div class="input-group">
          <input class="form-control" placeholder="Søk i Oria etter bøker, artikler, tidsskrifter m.m." type='text' id='query-all' value='' name='query'  />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">Søk i alle bibliotek</button>
          </span>
        </div>
      </form>
    </div>
    <div role="tabpanel" class="tab-pane" id="googlescholar">
      <form action="https://scholar.google.com/scholar" enctype="application/x-www-form-urlencoded; charset=utf-8" method="get" name="googlescholar" target="_blank">
        <label class="sr-only" for="library-search">Søk i google scholar</label>
        <div class="input-group">
          <input class="form-control"  type="text"id="library-search-googlescholar" name="q" placeholder="">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">Søk i Google Scholar</button>
          </span>
        </div>
      </form>
      <p><a class="btn btn-primary library-search-advanced-toggle" href="https://scholar.google.com/scholar" target="_blank">Gå til Google scholar søkeside</a></p>
    </div>
  </section>
