// IMPORT
@import "../../../vendor/frontend/app/assets/less/variables/_standard.less";
@import "../../../vendor/bootstrap/less/variables.less";
@import "../../../vendor/bootstrap/less/mixins.less";
@import "../../../vendor/bootstrap/less/utilities.less";
@import "../../../vendor/frontend/app/assets/less/components/_component_helpers.less";

@import "../../../vendor/frontend/app/assets/less/components/_component_typography.less";
.reset() {
    // Old-page styling overrides
    #body {
        max-width: 104rem;
    }
    .btn {
        box-shadow: none;
        padding: inherit;
        border: none;
        height: auto;
        line-height: inherit;
        color: inherit;
        background: inherit;
        text-shadow: none;
        text-transform: none;
        float: none;
        &:hover {
            cursor: auto;
            text-decoration: none;
            background: inherit;
        }
    }
    .article {
        padding-left: inherit;
    }
    .display-none {
        display: none;
    }
}

.universal() {
    @import (inline) "../../../vendor/hiof-layout/dist/layout.css";
    @import "../../../vendor/bootstrap/less/forms.less";
    @import "../../../vendor/bootstrap/less/navs.less";
    @import "../../../vendor/bootstrap/less/navbar.less";
    @import "../../../vendor/bootstrap/less/buttons.less";
    @import "../../../vendor/bootstrap/less/button-groups.less";
    @import "../../../vendor/bootstrap/less/input-groups.less";
    @import "../../../vendor/bootstrap/less/dropdowns.less";
    @import "../../../vendor/bootstrap/less/forms.less";
    @import "../../../vendor/bootstrap/less/breadcrumbs.less";
    @import "../../../vendor/bootstrap/less/component-animations.less";
    .affix {
      position: fixed;
    }
    #header{
        margin-bottom: 40px;
    }
    .library-navigation{
        .navbar-brand{
            display: none;
        }
        &.affix{
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999999;
            padding: 0;
            margin: 0;
            .navbar-brand{
                display: block;
            }
            .container-fluid{
                max-width: 1040px;
                max-width: 104rem;
                margin: 0 auto;
            }
        }
    }
    .library-portal {
        //.library-search,
        //.library-basic-info,
        //.content-section .section {
        //    background: #eee;
        //    border-radius: @border-radius-standard;
        //}
        img {
            border-radius: @border-radius-standard;
        }
        .content-section,
        .library-news {
            margin-top: 2rem;
            padding-top: 2rem !important;
            border-top: 1px solid #eee;
            h1 {
                font-size: 16px;
                font-size: 1.6rem;
                padding-left: 15px;
                padding-left: 1.5rem;
            }
        }
        .content-section {
            //background: #347E84;
            position: relative;
            .section {
                //background: #fff;
                position: relative;
                header{
                    //position: absolute;
                    //top: 0;
                    //background: #fff;
                    //width: 100%;
                    //left: 0;
                }
                .nav{
                    height: 0px;
                    //padding-top: 3rem;
                    //max-height: 200px;
                    //max-height: 20rem;
                    //overflow-y: auto;
                    overflow: hidden;
                }
            }
        }
        .library-news {
            //background: #D77869;
            .article {
                //img {
                //    border-bottom-left-radius: 0;
                //    border-bottom-right-radius: 0;
                //}
                h3,
                .lead-paragraph {
                    padding: 0 1rem;
                    color: @text-color;
                }
                margin-bottom: 0;
                padding-left: 0;
                //padding-bottom: 1rem;
                background: #fff;
                border-radius: @border-radius-standard;
            }
        }
        //.library-news{
        //    transition: all 3s ease;
        //}
    }
    ol li,
    ul li {
        margin-left: inherit;
    }
    //.navbar-default{
    //    background: @brand
    //}
    .dropdown-toggle:after {
        display: none;
    }
}

.small() {}

.medium() {}

.large() {}

.retina() {}

.print() {}

// -----------------------------------------------------------
// -----------------------------------------------------------
// Output
.reset();
.universal();
@media screen and (max-width: 640px) {
    .small();
}

@media screen and (min-width: 641px) and (max-width: 899px) {
    .medium();
}

@media screen and (min-width: 900px) {
    .large();
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dppx) {
    .retina();
}
